.home {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.home h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  align-items: stretch;
}

.product-grid p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.1rem;
  color: #777;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3rem;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}