.product-card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 15px;
  margin: 8px 0;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  padding: 6px 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.add-cart-btn {
  background-color: #e9971dd2;
  color: white;
}

.details-btn {
  background-color: #6c757d;
  color: white;
}

.product-card button:hover {
  opacity: 0.9;
}